@charset "UTF-8";
/*
Stylesheet
URL: http://lrnco.cc/
Author: Luciano Liranço
Version: 1.0.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Elements
# Forms
# Languages
# Float elements
# Keyframes 
# Logo
# Projects 
# Section00 
# Bio Blast
# About
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 0.6em;
  margin: 0;
  padding: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  font-family: "roboto-mono", sans-serif;
  background-color: #0546ae;
  color: #fafafa;
}

h1,
h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin-bottom: 15px;
}

h3 {
  font-family: "roboto-mono", sans-serif;
  font-weight: 700;
  font-size: 0.65em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 10px 0;
}

small {
  font-size: .8em;
  color: #f6615b;
  transition: color .8s ease-out;
}

p,
span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  line-height: 1.8em;
  letter-spacing: 0.15px;
  font-weight: 200;
}

em {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #f6615b;
  color: currentColor;
  transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}

a:hover {
  background: #f6615b;
  color: currentColor;
  text-decoration: none;
}

a:focus {
  color: currentColor;
  text-decoration: none;
}

hr {
  border-color: transparent;
}

.content {
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
}

.fp-tableCell {
  vertical-align: baseline;
  padding: 60px 30px;
}

img {
  width: 100%;
}

.row {
  padding: 30px 0;
}

.intro h2 {
  transform: translateY(100px);
  opacity: 0;
  transition: .8s ease-out .8s;
  transition-property: transform, opacity;
}

.active .intro h2 {
  transform: translateY(0px);
  opacity: 1;
}

.intro p {
  transform: translateY(100px);
  opacity: 0;
  transition: .8s ease-out 1.4s;
  transition-property: transform, opacity;
}

.active .intro p {
  transform: translateY(0px);
  opacity: 1;
}

.intro em {
  opacity: 0;
  transition: .8s ease-out 2s;
  transition-property: opacity;
}

.active .intro em {
  opacity: 1;
}

/*--------------------------------------------------------------
# Languages
--------------------------------------------------------------*/
@font-face {
  font-family: 'lang';
  src: url("../inc/fonts/lang.eot?xk546d");
  src: url("../inc/fonts/lang.eot?xk546d#iefix") format("embedded-opentype"), url("../inc/fonts/lang.ttf?xk546d") format("truetype"), url("../inc/fonts/lang.woff?xk546d") format("woff"), url("../inc/fonts/lang.svg?xk546d#lang") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="lang-"], [class*=" lang-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lang' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lang-en:before {
  content: "\e900";
}

.lang-pt:before {
  content: "\e901";
}

.flag {
  top: 20px !important;
  position: absolute;
  right: 35%;
}

/*--------------------------------------------------------------
# Float Elements
--------------------------------------------------------------*/
.float {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  z-index: 10;
  position: fixed;
  width: 80px;
  height: 100%;
}

.left {
  top: 0;
  left: 0;
}

.right {
  top: 0;
  right: 0;
}

.float-right,
.float-left {
  /*-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  font-size: 0.6em;
  letter-spacing: 0.6em;
  white-space: nowrap;
  text-transform: uppercase;
}

/* Left */
.mail {
  transform: rotate(-90deg);
  transform-origin: left;
  line-height: 0em;
}

.mail a {
  padding: 4px 0 1px 0;
  margin: 0 4px;
}

.float svg {
  border: solid 1px;
  margin: 40px 3px 10px 3px;
  opacity: .5;
}

.social-icons {
  font-size: .85em;
  margin-left: -3px;
}

.social-icons p {
  line-height: 5em;
}

.social-icons a {
  padding: 4px 0;
}

.social-icons a i {
  padding-left: 3px;
}

/* Right */
.float-right {
  transform: rotate(90deg);
  transform-origin: left;
  margin: -250px 0 0 0;
}

#menu {
  list-style-type: none;
  display: inline-flex;
}

#menu li {
  text-align: center;
  margin: 0px 10px;
  float: left;
  transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}

#menu li.active {
  background: #f6615b;
  color: currentColor;
  text-decoration: none;
}

#menu li a {
  padding: 4px 0 1px 0;
  display: block;
  max-width: 85px;
  margin: 0px 5px;
}

/*#menu li:first-child, #menu li:last-child {
    background: none;
    margin: 5px 10px;
}*/
/* Bottom */
.next-section {
  animation: pulse 1s infinite ease-in-out forwards;
  bottom: 15px;
  left: 49.5%;
  position: absolute;
  font-size: 1.3em;
}

#next:hover {
  color: #f6615b;
}

/*--------------------------------------------------------------
# Keyframes 
--------------------------------------------------------------*/
/*@-webkit-keyframes hide{
	0%{opacity:1}
	to{opacity:0}
}

@keyframes hide{
	0%{opacity:1}
	to{opacity:0}
}

@-webkit-keyframes show{
	0%{opacity:0}
	to{opacity:1}
}

@keyframes show{
	0%{opacity:0}
	to{opacity:1}
}*/
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1);
  }
}

/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
#logo {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 30px;
  border-radius: 50%;
  width: 105px;
  height: 105px;
  overflow: hidden;
}

#stage {
  position: relative;
  display: block;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 9999px;
  transform-style: preserve-3d;
  overflow: hidden;
}

#stage:after {
  content: '';
  display: block;
  box-sizing: border-box;
  margin-left: -2px;
  margin-top: -2px;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  border: 7px solid #0546ae;
  transform: translateZ(100px);
}

#ball {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
  transition: background .8s ease-out;
}

.ring {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateZ(62.5px);
  animation: doit 10000ms infinite ease-in-out forwards;
  transition: color .8s ease-out, background-color .8s ease-out;
}

.ring:after {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border: solid 5px;
  background: #0546ae;
  border-color: currentColor;
  content: '';
  transform: scale(0);
  animation: toit 5000ms infinite ease-in-out alternate;
}

#stage:hover .ring:after {
  border-color: #f6615b;
  transition: border-color .4s ease-out;
}

.ring:nth-child(1),
.ring:nth-child(1):after {
  animation-delay: -833.33333ms;
}

.ring:nth-child(2),
.ring:nth-child(2):after {
  animation-delay: -1666.66667ms;
}

.ring:nth-child(3),
.ring:nth-child(3):after {
  animation-delay: -2500ms;
}

.ring:nth-child(4),
.ring:nth-child(4):after {
  animation-delay: -3333.33333ms;
}

.ring:nth-child(5),
.ring:nth-child(5):after {
  animation-delay: -4166.66667ms;
}

.ring:nth-child(6),
.ring:nth-child(6):after {
  animation-delay: -5000ms;
}

.ring:nth-child(7),
.ring:nth-child(7):after {
  animation-delay: -5833.33333ms;
}

.ring:nth-child(8),
.ring:nth-child(8):after {
  animation-delay: -6666.66667ms;
}

.ring:nth-child(9),
.ring:nth-child(9):after {
  animation-delay: -7500ms;
}

.ring:nth-child(10),
.ring:nth-child(10):after {
  animation-delay: -8333.33333ms;
}

.ring:nth-child(11),
.ring:nth-child(11):after {
  animation-delay: -9166.66667ms;
}

.ring:nth-child(12),
.ring:nth-child(12):after {
  animation-delay: -10000ms;
}

@keyframes doit {
  100% {
    transform: translateZ(-62.5px);
  }
}

@keyframes toit {
  100% {
    transform: scale(1);
  }
}

*, *:after {
  animation-play-state: running !important;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
body {
  transition: background-color .8s ease-out;
}

#stage:after {
  transition: border-color .8s ease-out;
}

.ring:after {
  transition: background .8s ease-out;
}

.fp-viewing-prothesis {
  background-color: #202020;
  color: #b4ae6a;
}

.fp-viewing-prothesis #stage:after {
  border-color: #202020;
}

.fp-viewing-prothesis #stage:hover .ring:after {
  border-color: #7E6AB4;
}

.fp-viewing-prothesis .ring:after {
  background: #202020;
}

.fp-viewing-prothesis a {
  border-bottom-color: #7E6AB4;
}

.fp-viewing-prothesis a:hover {
  background: #7E6AB4;
}

.fp-viewing-prothesis #next:hover {
  color: #7E6AB4;
}

.fp-viewing-prothesis #menu li.active {
  background: #7E6AB4;
}

.fp-viewing-prothesis small {
  color: #7E6AB4;
}

.fp-viewing-mcb {
  background-color: #fad591;
  color: #ee3768;
}

.fp-viewing-mcb #stage:after {
  border-color: #fad591;
}

.fp-viewing-mcb #stage:hover .ring:after {
  border-color: #2ecab0;
}

.fp-viewing-mcb .ring:after {
  background: #fad591;
}

.fp-viewing-mcb a {
  border-bottom-color: #2ecab0;
}

.fp-viewing-mcb a:hover {
  background: #2ecab0;
}

.fp-viewing-mcb #next:hover {
  color: #2ecab0;
}

.fp-viewing-mcb #menu li.active {
  background: #2ecab0;
}

.fp-viewing-mcb small {
  color: #2ecab0;
}

.fp-viewing-joombo {
  background-color: #abf1ef;
  color: #1fbcb8;
}

.fp-viewing-joombo #stage:after {
  border-color: #abf1ef;
}

.fp-viewing-joombo #stage:hover .ring:after {
  border-color: #ec13ab;
}

.fp-viewing-joombo .ring:after {
  background: #abf1ef;
}

.fp-viewing-joombo a {
  border-bottom-color: #ec13ab;
}

.fp-viewing-joombo a:hover {
  background: #ec13ab;
}

.fp-viewing-joombo #next:hover {
  color: #ec13ab;
}

.fp-viewing-joombo #menu li.active {
  background: #ec13ab;
}

.fp-viewing-joombo small {
  color: #ec13ab;
}

.fp-viewing-tsp {
  background-color: #f1f1f1;
  color: #333333;
}

.fp-viewing-tsp #stage:after {
  border-color: #f1f1f1;
}

.fp-viewing-tsp #stage:hover .ring:after {
  border-color: #024ea2;
}

.fp-viewing-tsp .ring:after {
  background: #f1f1f1;
}

.fp-viewing-tsp a {
  border-bottom-color: #024ea2;
}

.fp-viewing-tsp a:hover {
  background: #024ea2;
}

.fp-viewing-tsp #next:hover {
  color: #024ea2;
}

.fp-viewing-tsp #menu li.active {
  background: #024ea2;
}

.fp-viewing-tsp small {
  color: #024ea2;
}

.fp-viewing-bioblast {
  background-color: #fc8392;
  color: #fafafa;
}

.fp-viewing-bioblast #stage:after {
  border-color: #fc8392;
}

.fp-viewing-bioblast #stage:hover .ring:after {
  border-color: #1febae;
}

.fp-viewing-bioblast .ring:after {
  background: #fc8392;
}

.fp-viewing-bioblast a {
  border-bottom-color: #1febae;
}

.fp-viewing-bioblast a:hover {
  background: #1febae;
}

.fp-viewing-bioblast #next:hover {
  color: #1febae;
}

.fp-viewing-bioblast #menu li.active {
  background: #1febae;
}

.fp-viewing-bioblast small {
  color: #1febae;
}

/*--------------------------------------------------------------
# Section 00
--------------------------------------------------------------*/
#section0 {
  text-align: center;
}

#section0 .fp-tableCell {
  vertical-align: middle;
}

#section0 svg {
  border: solid 1px currentColor;
  margin: 11px;
}

.heading {
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.25em;
  line-height: 1.1em;
  position: relative;
  white-space: nowrap;
}

.heading h3, .heading svg {
  display: inline-flex;
  vertical-align: middle;
}

.heading svg {
  opacity: .6;
}

.word {
  counter-increment: word;
  top: 50px;
  position: absolute;
  animation: slide-up-fade 1.4s linear forwards;
  opacity: 0;
}

.word.final {
  animation: slide-up-persist 1.4s linear forwards;
}

.word.one {
  animation-delay: 0s;
}

.word.two {
  animation-delay: 1.4s;
}

.word.three {
  animation-delay: 2.8s;
}

.word.four {
  animation-delay: 4.2s;
}

.word.five {
  animation-delay: 5.6s;
}

.word.six {
  animation-delay: 7s;
}

@keyframes slide-up-fade {
  25% {
    top: 0;
  }
  55%, 85% {
    top: 0;
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 50px;
  }
}

@keyframes slide-up-persist {
  25% {
    top: 0;
  }
  55%, 85% {
    top: 0;
    opacity: 1;
  }
  100%, 99% {
    opacity: 1;
    top: 0;
  }
}

#menu li.active i {
  color: #f6615b;
}

/*--------------------------------------------------------------
# BioBlast
--------------------------------------------------------------*/
.bioblast2 {
  background-color: #A1F562;
  color: #88e4f6;
}

.bioblast2 #stage:after {
  border-color: #A1F562;
}

.bioblast2 #stage:hover .ring:after {
  border-color: #df90d2;
}

.bioblast2 .ring:after {
  background: #A1F562;
}

.bioblast2 a {
  border-bottom-color: #df90d2;
}

.bioblast2 a:hover {
  background: #df90d2;
}

.bioblast2 #next:hover {
  color: #df90d2;
}

.bioblast2 #menu li.active {
  background: #df90d2;
}

.bioblast2 small {
  color: #df90d2;
}

.bioblast3 {
  background-color: #ffe882;
  color: #d931e3;
}

.bioblast3 #stage:after {
  border-color: #ffe882;
}

.bioblast3 #stage:hover .ring:after {
  border-color: #86ddf3;
}

.bioblast3 .ring:after {
  background: #ffe882;
}

.bioblast3 a {
  border-bottom-color: #86ddf3;
}

.bioblast3 a:hover {
  background: #86ddf3;
}

.bioblast3 #next:hover {
  color: #86ddf3;
}

.bioblast3 #menu li.active {
  background: #86ddf3;
}

.bioblast3 small {
  color: #86ddf3;
}

.bioblast4 {
  background-color: #82fbda;
  color: #780ae7;
}

.bioblast4 #stage:after {
  border-color: #82fbda;
}

.bioblast4 #stage:hover .ring:after {
  border-color: #f6cf27;
}

.bioblast4 .ring:after {
  background: #82fbda;
}

.bioblast4 a {
  border-bottom-color: #f6cf27;
}

.bioblast4 a:hover {
  background: #f6cf27;
}

.bioblast4 #next:hover {
  color: #f6cf27;
}

.bioblast4 #menu li.active {
  background: #f6cf27;
}

.bioblast4 small {
  color: #f6cf27;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-background {
  opacity: 0;
  transition: .4s ease-out .4s opacity;
}

.fp-viewing-about .about-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: url(../imgs/about.svg);
  background-repeat: repeat-x;
  opacity: 1;
}

.fp-viewing-about .float-left,
.fp-viewing-about .float-right {
  display: none;
}

.about {
  line-height: 1.8em;
}

.about p {
  font-size: .9em;
  letter-spacing: .08em;
}

.about a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5em;
  padding: 2px;
  text-transform: uppercase;
}

.about .social-icons a i {
  padding-left: 7px;
  font-size: 1.2em;
}

.bye {
  color: #f6615b;
  line-height: 2em;
}
